
<h1>User interface view</h1>



<div>{{loggedInUser.userName}}</div>

<img src="{{loggedInUser.image_url}}" alt="userImage">

<ul>
    {{#each user.links}}
        <li><a href="{{this.url}}">{{this.description}}</a></li>
    {{/each}}
</ul>


{{!-- post Form --}}
<form action='/user-interface' method='POST'>

  <label for=''>postContent</label>
  <input type='text' name='postContent'>

  <button type="submit">Add photo</button>

  <button type='submit'>Submit</button>
</form>
{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}






<form action='/log-out' method='GET'>

  
  <button type='submit'>log out</button>
</form>
