
<header class="main-header">
    <a href="user-interface"> 
        <img src="/images/ironhack-logo-150x150.png" alt="IronHack Logo" class="logo-img">
    </a>

    <form action='/log-out' method='GET'>
  
  <button type='submit'>log out</button>
</form>


</header>

<div>
User Name: {{loggedUser.userName}}
</div>
<div>
    User Image: <img src="{{loggedUser.image_url}}" alt="">
</div>
<div>
    <div>User's links</div>
        {{#each loggedUser.links}}
            <div> 
                {{this.description}} : <a href="{{this.url}}"></a>
            </div>
        {{/each}}
</div>
<form action="/user-interface/profile/" method="Post">
      <label for=''>Url link</label>
      <input type='text' name='urlLink'>
      <label for=''>Url description</label>
      <input type='text' name='descriptionLink'>
      <button type="submit">Add a Link</button>
</form>

<div>
    {{#each loggedUser.postIds}}
    <p>{{this.postContent}}</p>
    {{/each}}
</div>