
<header class="main-header">
    <a href="/user-interface"> 
        <img src="/images/ironhack-logo-150x150.png" alt="IronHack Logo" class="logo-img">
    </a>
    </a><button><a href="#"></a>{{loggedUser.userName}}</a></button>
    <form action='/log-out' method='GET'>
  
  <button type='submit'>log out</button>
</form>


</header>


 

<div id="links-container">
   <h3>Your Links</h3>
        {{#each loggedUser.links}}
            <div> 
                
                {{this.description}} : <a href="{{this.url}}" target="_blank"> your {{this.description}}</a><br>
                <a href="/user-interface/profile/delete/{{this._id}}"><button class = "postButtons">delete</button></a>
                <a href="/user-interface/profile/edit/{{this._id}}"> <button class = "postButtons"> edit</button> </a>
                
               
            </div>
        {{/each}}
</div>
<form action="/user-interface/profile/" method="Post" id="links-adding">
    <h3>Add a new Link</h3>
      <label for=''>Url link</label>
      <input type='text' name='urlLink' class="inputB">
      <label for=''>Url description</label>
      <input type='text' name='descriptionLink' class="inputB">
      <button type="submit" class = "postButtons">Add a Link</button>
</form>

<div id="post-container">
    <h3>Your Posts</h3>
    <br>
    {{#each loggedUser.postIds}}
    <p> - {{this.postContent}}</p>
    <a href="/user-interface/profile/deletePost/{{this._id}}"><button class = "postButtons">delete</button></a>
    <a href="/user-interface/profile/editPost/{{this._id}}"> <button class = "postButtons"> edit</button> </a>
    {{/each}}
</div>