
<h1>User interface view</h1>


{{!-- User data --}}
<div>{{user.userName}}</div>
{{!-- <div>{{userdata.isAdmin}}</div> --}}
<img src="{{user.image_url}}" alt="userImage">

<ul>
    {{#each user.links}}
        <li><a href="{{this.url}}">{{this.description}}</a></li>
    {{/each}}
</ul>


{{!-- post Form --}}
<form action='/user-interface' method='POST'>

  <label for=''>postContent</label>
  <input type='text' name='postContent'>

  <button type="submit">Add photo</button>

  <button type='submit'>Submit</button>
</form>
{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}


{{!-- post Partials --}}
<div >
    {{!-- posts to be send by find by ...? from user interface  route --}}
    {{#each posts}}          
        {{> post this}}
    {{/each}}
</div>

{{!-- error --}}





<form action='/log-out' method='GET'>

  
  <button type='submit'>log out</button>
</form>
