
<<<<<<< HEAD
<h1>User interface view</h1>


{{!-- User data --}}
<div>{{user.userName}}</div>
{{!-- <div>{{userdata.isAdmin}}</div> --}}
<img src="{{user.image_url}}" alt="userImage">

<ul>
    {{#each user.links}}
        <li><a href="{{this.url}}">{{this.description}}</a></li>
    {{/each}}
</ul>


{{!-- post Form --}}
<form action='/user-interface' method='POST'>

  <label for=''>postContent</label>
  <input type='text' name='postContent'>

  <button type="submit">Add photo</button>

  <button type='submit'>Submit</button>
</form>
{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}


{{!-- post Partials --}}
<div >
    {{!-- posts to be send by find by ...? from user interface  route --}}
    {{#each posts}}          
        {{> post this}}
    {{/each}}
</div>

{{!-- error --}}




<a href="/logout">Logout</a>
=======
<header class="main-header">
    <a href="index"> 
        <img src="/images/ironhack-logo-150x150.png" alt="IronHack Logo" class="logo-img">
    </a>
</header>


<h1>User interface view</h1>
<div>{{userdata.userName}}</div>
<div>{{userdata.isAdmin}}</div>
<img src="{{userdata.image_url}}" alt="userImage">
{{#each userdata.links}}
<a href="{{this.url}}"></a>
{{/each}}
<a href="/logout">Logout</a>
{{!-- <form action='/user-interface' method='POST'>
  <label for=''>postContent</label>
  <input type='text' name='postContent'>
  <button type='submit'>Submit</button>
</form> --}}
>>>>>>> c75b08b1a9b62e7534ef20e2c08a54f879c469a3
